@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

/* 기본 설정 */
html {
    font-size: 10px;
}

body {
    margin: 0;
}
dd {
    margin: 0;
}

/* 초기화 */
.btnNone {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.resetList {
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: black;
    text-decoration: none;
}

/* 유틸리티 */
.a11yHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.resetMargin {
    margin: 0;
}
/* 공통 로고 */
.header {
    position: fixed;
    width: 100%;
    z-index: 30;
    background-color: rgba(255, 255, 255, 0.4)
}

@keyframes headingBar{
    0% {
        transform:translateY(-78px) ;
    }
    100%{
        transform:none;
    }
}
.header::after {
    animation: headingBar 0.4s;
    content: "";
    display: block;
    background-color: #E0E0E0;
    height: 1px;
}


@keyframes logoAni {
    0% {
        transform: translateX(-100%);
    }

    80% {
        transform: translateX(5%);
    }

    100% {
        transform: none;
    }
}

.headerHeading {
    margin: 0;
}

.headerHeading a {
    animation: logoAni .5s 0.4s backwards;
    width: 164px;
    display: block;
    padding: 2.5rem;
    background-image: url(../images/Logo.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: 120%;
    overflow: hidden;
    white-space: nowrap;
}

/* 공통 네비게이션 */
@keyframes menuAni {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: none;
    }
}

.btnMenuopen {
    animation: menuAni .5s 0.4s backwards;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 78px;
    height: 100%
}

.btnMenuopen:hover {
    background-color: #eee;
}

.btnBgrd {
    position: absolute;
    width: 25px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burgerBar {
    display: block;
    width: 100%;
    height: 10%;
    background-color: #525254;
    position: absolute;
}

.burgerTop {
    top: 0;
    left: 0;
}

.burgerMiddle {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.burgerBottom {
    top: 100%;
    left: 0;
    transform: translateY(-100%);
}

.menuList {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(14, 18, 35, 0.9);
    z-index: 10;
    padding-top: 50px;
    transform: translateX(100%);
    transition: all .5s;
}

.isAct .menuList {
    transform: none;
}

.menuList a {
    color: #fff;
    font-size: 1.6rem;
    padding: 1em;
    display: block;
    border-bottom: 1px solid #22305A;
}

.menuItem a:hover,
.menuItem a:focus {
    background-color: #22305A;
}

.btnMenuClose {
    position: absolute;
    right: -100%;
    top: 0;
    font-size: 3rem;
    padding: 20px 30px;
    z-index: 20;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
}

.isAct .btnMenuClose {
    right: 0;
}
.isAct .btnMenuClose:hover{
    transform: scale(1.4);
}

/* 공통 메인 */
@keyframes productAni {
    0% {
        transform: translateY(15%);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}



.productList {
    margin: 0 auto;
    padding: 10rem 2rem 2rem;
}

@media screen and (min-width: 575px) {
    .productList {
        max-width: 830px;
    }
    .productList li{
        width: calc((100% - 20px) / 2);
    }
    .product{
        max-width: 400px;
    }
}
@media screen and (max-width: 574px) {
    .productList li{
        width: 100%;
    }

}
.productList li {
    float: left;
    margin-bottom: 20px;
}
.product {
    background-color: #f5f5f5;
    position: relative;
    text-align: center;
    height: 360px;
    
}

.productList li:nth-child(2n-1){
    margin-right: 20px;
}

.productList li:nth-child(1) .product {
    animation: productAni 1s 0.4s backwards;
}

.productList li:nth-child(2) .product {
    animation: productAni 1s .5s backwards;
}

.productList li:nth-child(3) .product {
    animation: productAni 1s .6s backwards;
}

.productList li:nth-child(4) .product {
    animation: productAni 1s .7s backwards;
}

.productList li:nth-child(5) .product,
.productList li:nth-child(6) .product,
.productList li:nth-child(7) .product,
.productList li:nth-child(8) .product {
    animation: productAni 1s 0.4s backwards;
}

.infoButton {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

productFront {
    margin: 0;
    height: 100%;
}

figcaption {
    font-size: 1.6rem;
}

.productImg{
    max-width: 100%;
    height: 85%;
    transition: all .5s;
    transform: scale(0.9);
    /* width: 50%; */
}

.infoButton:hover .productImg,
.infoButton:focus .productImg {
    transform: scale(1);
}


.productHeading {
    font-weight: normal;
    display: block;
    font-size: 1.8rem;
}

.productBack {
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2rem 2rem 0;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #ddd;
    transition: opacity .5s linear;
}

.infoOpen {
    z-index: 1;
    opacity: 1;
}


.enTitle {
    display: block;
    font-size: 1.5rem;
    color: #888;
}

.enTitle::after {
    content: "";
    display: block;
    background-color: #181818;
    height: 2px;
    margin-top: 2rem;
}

.productInfo {
    margin-top: 1em;
    font-size: 1.6rem;
}

.productNutrition {
    /* column-width: 50%; */
    column-count: 2;
    column-rule: 1px solid black;
    font-size: 1.3rem;
    background-color: #F8F8F8;
    padding: 2rem;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nutrition {
    width: 50%;
    float: left;
    line-height: 1.5;
    box-sizing: border-box;
    padding-left: 1.5rem;
}

.content {
    float: left;
    width: 50%;
    text-align: left;
    line-height: 1.5;
    box-sizing: border-box;
    padding-left: 1em;
}
.content::after{
    content: ")";
}
.content::before{
    content: "(";
}
.closeinfoButton {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em 1.2em;
    margin: 0;
    cursor: pointer;
}

.closeinfoButton:hover {
    background-color: #efefef;
}

.closeinfoButton span {
    font-weight: 100;
    font-size: 2.5rem;
}
.scrollUp {
    width: 50px;
    height: 50px;
    background-image: url(../images/GoToTop.png);
    background-repeat: no-repeat;
    position: fixed;
    bottom: 1%;
    right: 1%;
    cursor: pointer;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* 다크모드 */
/* @media (prefers-color-scheme: dark) {
    body{
        background-color: #000;
        color: #fff;
    }
    .product {
        background-color: #303030;
    }
    .headerHeading{
        border-bottom-color: #606060;
    }
    figcaption {
        color: #fff;
    }
    .menuList {
        background-color: #181818;
    }
    .menuItem a{
        border-bottom-color: #525254;
    }
    .productNutrition{
        background-color: #181818;
        column-rule-color:  #fff;
    }
    .productBack{
        background-color: rgba(20, 20, 20, 0.7);
        border-color: #525254;
    }
    .headerHeading a {
        background-image: url(../images/Logo1x_negative.png);
    }
    .closeinfoButton{
        color: #777;
    } 
     
}*/